fastapi
uvicorn
python-multipart
google-genai
qdrant-client
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
PyMuPDF
python-docx
docx2txt
openpyxl
xlrd
unstructured
python-dotenv
pydantic
httpx
aiofiles
cloudinary
groq
pandas